// Variables
$primary-color: #77c4d3;
$secondary-color: #5C8D89;
$background-color:  #f9f9e1;
$text-color: #333333;
$h1h2-text-color: #000000;  
$h3-text-color: #ffffff;
$h3-background-color: #505670;
$sidebar-color: #F4ECE3;

$sidebar-background-color: #393939; 
$sidebar-text-color: #ffffff; 
$sidebar-h3-text-color: #ffffff;
$sidebar-h3-background-color: #505050;
$sidebar-link-color: #77c4d3; 
$sidebar-link-hover-color: #ea2e49;
$h3-background-color-start: #505670;
$h3-background-color-end: transparentize($h3-background-color-start, 1);

$h3-gradient-start: #77c4d3; 
$h3-gradient-end: #FFD89B; 

$footer-text-color: #000000; 
$footer-link-hover-color: #8b0000;

$link-color: #000000;
$link-hover-color: #8b0000;

$font-family-sans: 'Josefin Sans', sans-serif;
$font-family-serif: 'Amatic SC', sans-serif;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;