@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f9f9e1;
  color: #333333;
  position: relative;
  margin: 0;
}

header {
  background: linear-gradient(#77c4d3, #c4e5ec);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 4;
}
header h1, header h2 {
  font-family: "Amatic SC", sans-serif;
  color: #000000;
  margin: 10px 0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeInDown 1.5s ease-out;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 3rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  background: linear-gradient(#77c4d3, #5C8D89);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  background: linear-gradient(to right, #505670, rgba(80, 86, 112, 0));
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
}
h3:hover {
  transform: translateY(-2px);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.25), 0 12px 24px rgba(0, 0, 0, 0.15);
}

.sidebar h3 {
  color: #ffffff;
  background-color: #f9f9e1;
  padding: 10px;
  margin: 15px 0;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}
.sidebar h3:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), inset 0 -2px 3px rgba(0, 0, 0, 0.15), 0 12px 20px -5px rgba(0, 0, 0, 0.15), 0 5px 8px -4px rgba(0, 0, 0, 0.1);
}

.intro, .page-wrapper {
  display: grid;
  grid-template-rows: 170px 400px 100px 200px 1fr 92px;
  grid-template-columns: 260px 1fr;
  column-gap: 15px;
}

.intro {
  grid-row: 1/7;
  grid-column: 1/3;
}

.page-wrapper::before {
  grid-row: 2/3;
  grid-column: 1/3;
  content: "";
  height: 400px;
  background-image: url("./images/calm_waters.webp");
  background-repeat: repeat-x;
  background-size: cover;
  z-index: 2;
  animation: wave 30s infinite linear;
}

.summary {
  grid-column: 2/3;
  grid-row: 3/4;
}

.preamble {
  grid-column: 2/3;
  grid-row: 4/5;
}

.main {
  grid-column: 2/3;
  grid-row: 5/6;
}

@media (max-width: 768px) {
  .intro, .summary, .preamble, .explanation, .participation, .benefits, .requirements, .zen-intro, .main {
    margin-left: 0;
    padding: 10px;
  }
}

.sidebar {
  grid-row: 3/6;
  grid-column: 1/2;
  width: 200px;
  padding: 30px;
  color: #ffffff;
  background: #505050 url("./images/vertical-surfboard.webp") no-repeat left 100%/contain;
  z-index: 1;
  color: #ffffff;
}
.sidebar a {
  color: #77c4d3;
  text-decoration: none;
}
.sidebar a:hover {
  color: #ea2e49;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar li {
  position: relative;
}
.sidebar li::before {
  content: "🐚";
  display: inline-block;
  margin-right: 0.5em;
  transition: transform 0.3s ease;
  border-radius: 50%;
}
.sidebar li:hover::before {
  transform: scale(1.2) rotate(45deg);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    box-sizing: border-box;
    min-height: 1200px;
    margin-bottom: 92px;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    min-height: 1000px;
  }
}

footer {
  background: linear-gradient(#77c4d3, #c4e5ec);
  color: #000000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  overflow: hidden;
  width: 100%;
}
footer a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}
footer a:hover {
  color: #8b0000;
  transform: scale(1.05);
}
footer a:hover::after {
  animation: coconutDrop 3s forwards;
}
footer a:nth-child(even)::before {
  content: "🌴";
  display: inline-block;
  font-size: 70px;
  margin-left: 40px;
  vertical-align: middle;
}
footer a:nth-child(odd) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 60"><defs><linearGradient id="boardGradient" x1="0%" y1="0%" x2="0%" y2="100%"><stop offset="0%" style="stop-color:%2377c4d3;" /><stop offset="50%" style="stop-color:%238CC63F;" /><stop offset="100%" style="stop-color:%23ea2e49;" /></linearGradient></defs><path fill="url(%23boardGradient)" d="M12 2c-5 0-9 20-9 28s4 28 9 28 9-20 9-28-4-28-9-28z"/><path d="M12,5 Q14,15 12,25 Q10,35 12,45" stroke="%23000000" stroke-width="2" fill="none"/><circle cx="12" cy="30" r="3" fill="%23f6f792e6" /></svg>');
  background-repeat: no-repeat;
  background-size: 30px 80px;
  background-position: 0 50%;
  padding-left: 40px;
  padding-right: 5px;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  margin-left: 40px;
  animation: fastSway 1s ease-in-out infinite;
}
footer a:nth-child(even)::after {
  content: "🥥";
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 15px;
  opacity: 0;
  z-index: -1;
}
footer a.zen-validate-css, footer a.zen-accessibility {
  color: #000000;
}
footer a.zen-validate-css:hover, footer a.zen-accessibility:hover {
  color: #8b0000;
}

@keyframes coconutDrop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(80px);
    opacity: 0;
  }
}
@keyframes sway {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
@keyframes fastSway {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
@keyframes wave {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
img {
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.1);
}

button:focus, button:active {
  outline: 3px solid #3eaac0;
  transform: translateY(2px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f9f9e1;
}

::-webkit-scrollbar-thumb {
  background: #77c4d3;
}

@media screen and (max-width: 1090px) {
  .page-wrapper, .intro {
    grid-template-rows: 170px 400px 100px 230px 1fr 92px;
  }
}
@media screen and (max-width: 840px) {
  .page-wrapper, .intro {
    grid-template-rows: 170px 400px 100px 280px 1fr 92px;
  }
}
@media (max-width: 768px) {
  .page-wrapper, .intro {
    display: block;
  }
  .page-wrapper {
    padding-top: 541px;
  }
  .page-wrapper::before {
    width: 100%;
    position: absolute;
    top: 141px;
  }
  footer {
    margin-left: 0;
    min-height: 92px;
  }
}
@media (max-width: 650px) {
  footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
  }
  footer a:nth-child(odd),
  footer a:nth-child(even)::before,
  footer a:nth-child(even)::after {
    background-image: none;
    content: "";
    animation: none;
    margin: 0;
    padding: 0;
  }
  body::before {
    top: 0.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
